<nav
  id="navbar"
  class="fixed top-0 db dt-l w-100 border-box pa3 ph5-l z-4 libre"
>
  <a
    class="db dtc-l v-mid wedding-gray link dim w-100 w-25-l tc tl-l mb2 mb0-l"
    href="#"
    title="Home"
  >
    <h1 class="fatface f2 f1-l">Dylan &amp; Spencer</h1>
  </a>
  <div class="db dtc-l v-mid w-100 w-75-l tc tr-l">
    <a
      class="link dim wedding-gray f5 f4-l dib mr3 mr4-l"
      href="#"
      title="Our Story"
    >
      Our Story
    </a>
    <a
      class="link dim wedding-gray f5 f4-l dib mr3 mr4-l"
      href="#"
      title="The Big Day"
    >
      The Big Day
    </a>
    <a
      class="link dim wedding-gray f5 f4-l dib mr3 mr4-l"
      href="#"
      title="Gift Registry"
    >
      Gift Registry
    </a>
    <a class="link dim wedding-gray f5 f4-l dib" href="#" title="RSVP">RSVP</a>
  </div>
</nav>
