<div id="postcard_container">
  <a
    id="postcard"
    href="#"
    class="z-5 tilter center tilter--2"
    style="visibility: hidden;"
  >
    <figure class="tilter__figure">
      <img
        class="tilter__image"
        src="../static/photoshoot/12.jpg"
        alt="img03"
      />
      <div class="tilter__deco tilter__deco--shine"><div></div></div>
      <figcaption
        class="db-ns dn tilter__caption tl absolute bottom-0 w-100 pa5"
      >
        <h3
          class="fatface f-subheadline-l f1-m f2 wedding-cream fw4 lh-title ma0 mb2"
        >
          May 24, 2020
        </h3>
        <p class="f3-l f4 libre ma0 lh-copy wedding-cream">
          Hummingbird Nest Ranch &bull; Simi Valley, CA
        </p>
      </figcaption>
    </figure>
  </a>
  <div id="cta-mobile" class="dn-ns db mt3 fixed w-100 pa3 wedding-gray">
    <h3 class="fatface f2 fw4 lh-title ma0 mb2">
      May 24, 2020
    </h3>
    <p class="f5 f4-l libre ma0 lh-copy">
      Hummingbird Nest Ranch<br />
      Simi Valley, CA
    </p>
  </div>
</div>
