<div id="story_container" class="crawl-container libre pv5 pv6-ns top-0">
  <article id="crawl" class="crawl mv6">
    <section class="step dt w-100 relative">
      <div class="dtc v-mid wedding-gray ph3 ph4-l">
        <div class="tj pv5 pv6-ns lh-copy center w-70-ns w-80 f3">
          <p>
            Rewind the clock to a long, long time ago. The year was 2016.
            Spencer and Dylan had yet to meet. Spencer had just moved to Los
            Angeles from Boston. Dylan had been living with her brother in
            Beverly Hills.
          </p>
        </div>
      </div>
    </section>
    <section class="step dt w-100 relative">
      <div class="dtc v-mid wedding-gray ph3 ph4-l">
        <div class="tj pv5 pv6-ns lh-copy center w-70-ns w-80 f3">
          <p>
            One night Dylan was invited to Manhattan Beach where the two would
            meet for the first time. She showed up with a cheap bottle of wine,
            a friend, and a green hat.
          </p>
        </div>
      </div>
    </section>
    <section class="step dt w-100 relative">
      <div class="dtc v-mid wedding-gray ph3 ph4-l">
        <div class="tj pv5 pv6-ns lh-copy center w-70-ns w-80 f3">
          <p>
            While Spencer was shy and reserved, Dylan was outgoing enough for
            the both of them. She enjoyed the company of his friends. That night
            marked the start of what would become a year of frequent hangouts
            and a blossoming friendship.
          </p>
        </div>
      </div>
    </section>
    <section class="step dt w-100 relative">
      <div class="dtc v-mid wedding-gray ph3 ph4-l">
        <div class="tj pv5 pv6-ns lh-copy center w-70-ns w-80 f3">
          <p>
            Fast forward to Spring 2017. Dylan found herself mid-career change
            and in need of a study companion. Spencer was a year in to the
            company he founded and was in dire need of balance outside of work.
          </p>
        </div>
      </div>
    </section>
    <section class="step dt w-100 relative">
      <div class="dtc v-mid wedding-gray ph3 ph4-l">
        <div class="tj pv5 pv6-ns lh-copy center w-70-ns w-80 f3">
          <p>
            One evening, Spencer had been out with his friends at a party on
            Fairfax Blvd. It got a little carried away, there was a fight that
            broke out. Meanwhile, Spencer had been strategically planning his
            escape to join Dylan at her parent’s house. The strategy: hop in an
            Uber.
          </p>
        </div>
      </div>
    </section>
    <section class="step dt w-100 relative">
      <div class="dtc v-mid wedding-gray ph3 ph4-l">
        <div class="tj pv5 pv6-ns lh-copy center w-70-ns w-80 f3">
          <p>
            Fifteen minutes later, Spencer arrived and joined Dylan in the
            kitchen where the two cooked some peppers and avocados and made
            “tacos”.
          </p>
        </div>
      </div>
    </section>
  </article>
</div>
