.starwars {
  background: pink;
  width: 100vw;
  /* overflow: hidden; */
  position: relative;
  transform-origin: 50% 100%;
  transform: scale(1.2) perspective(50vh) rotateX(15deg);
}

.crawl {
  position: relative;
  /* top: 100%; */
}

@keyframes crawl {
  0% {
    top: 0;
    transform: rotateX(20deg) translateZ(0);
  }
  100% {
    top: -2000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}
