.no-selection {
  user-select: none;
}

.cursor-progress {
  cursor: progress;
}

/* FONT SIZE */

.text-huge {
  font-size: 16rem;
}

/* FONTS */

.fatface {
  font-family: 'Abril Fatface', serif;
}

.libre {
  font-family: 'Libre Baskerville', serif;
}

.opensans {
  font-family: 'Open Sans', sans-serif;
}

/* TEXTURES */

.bg-texture {
  background-image: url(/texture.jpg);
  background-attachment: fixed;
  background-repeat: repeat;
}

/* COLORS */

.wedding-cream {
  color: #faf6e9;
}
.bg-wedding-cream {
  background-color: #faf6e9;
}

.wedding-tan {
  color: #ece8d9;
}
.bg-wedding-tan {
  background-color: #ece8d9;
}

.wedding-offwhite {
  color: #fffdf6;
}
.bg-wedding-offwhite {
  background-color: #fffdf6;
}

.wedding-gray {
  color: #494949;
}
.bg-wedding-gray {
  background-color: #494949;
}
